*,
*::before,
*::after {
  box-sizing: border-box;
}

*{
  margin: 0px;
  padding: 0%;
  background-color: grey;
}

button {
  border-radius: 8px;
}

img {
  height: 150px;
  width: 150px;
}

h1 {
    text-align: center;
    padding: 20px;
    font-size: 40px;
}


p {
  text-align: center;
  font-size: 40px;
  
}

.btn-container {
    display: flex;
    justify-content: space-around;
    padding: 150px 0px 100px 0px;
}

.result-container {
  padding: 40px 40px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.reset-container {
  padding: 50px;
  display: flex;
  justify-content: center;
}
.reset {
  border-radius: 50px;
  padding: 20px;
  font-size: large;
  background-color: blueviolet;
  color: aliceblue;
  border-radius: 5px solid black;
}

